.rounded-button {
    -fx-background-radius: 50;
    -fx-border-radius: 50;
    -fx-background-color: #4C88EF;
    -fx-text-fill: white;
    -fx-pref-width: 70px;
    -fx-pref-height: 70px;
    -fx-font-size: 22px;
    -fx-font-weight : bold;
}

.scroll-Buttons {
    -fx-background-radius: 50;
    -fx-border-radius: 50;
    -fx-background-color: white;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-alignment: center;
    -fx-border-color: black;
    -fx-border-width: 1px;
}

.side-Buttons{
    -fx-background-color: #4C88EF;
    -fx-text-fill: white;
    -fx-pref-width: 255px;
    -fx-pref-height: 70px;
    -fx-font-size: 22px;
    -fx-font-weight : bold;
}

.side-Buttons-planning{
    -fx-background-color: #4C88EF;
    -fx-text-fill: white;
    -fx-pref-width: 300px;
    -fx-pref-height: 70px;
    -fx-font-size: 22px;
    -fx-font-weight : bold;
}

.side-Buttons-planninghh{
    -fx-background-color: #4C88EF;
    -fx-text-fill: white;
    -fx-pref-width: 350px;
    -fx-pref-height: 70px;
    -fx-font-size: 22px;
    -fx-font-weight : bold;
}